@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт по танкам</h1>
    <img src="~/images/tanks.jpg" class="img-thumbnail" alt="..." >
</div>
